:root{
	--lightLime: #C0CA33;
	--lightBrown: #8D6E63;
	--lightA: #d1dadc;
	--aHover: #d8d57b;
	--complementaryColor: #63828d;
	--border: #784854;
}

.pageHeaderStyle {
	margin-top: 5px;
	background-color: var(--lightBrown);
	border: 2px solid var(--border);
	border-radius: 5px;
}

.pageHeaderStyle img {
	width: 20em;
}

.pageHeaderStyle .navbar a{
	color: var(--lightA);
	margin-right: 10px;
	transition: 0.5s;
}

.pageHeaderStyle .navbar .navbar-collapse ul li {
	background-color: var(--lightBrown);
}

.pageHeaderStyle .navbar a:hover{
	color: var(--aHover);
	border: 1px solid var(--aHover);
	border-radius: 10px;
	box-shadow: 0px 0px 2px black;
}

.dropdown-menu {
	background-color: var(--complementaryColor);
}

.dropdown .dropdown-menu a:hover {
	color: var(--lightBrown);
	border-radius: 0px;
	border: 1px solid var(--lightBrown);
}


/* Admin Login Modal - Start */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.modal-content .headerAdminLoginModal {
	background-color: var(--border);
	text-align: center;
	font-family: Chalkduster;
	padding: 20px 0px;
	color: white;
	border-radius: 10px 10px 0px 0px;
}

.modal-content .bodyAdminLoginModal table {
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
  	border-spacing: 0 15px;
  	font-family: Chalkduster;
  	color: white;
}

.modal-content .bodyAdminLoginModal table input {
	border: 2px solid var(--border);
}

.modal-content .bodyAdminLoginModal{
	text-align: center;
	background-color: var(--lightBrown);
	padding: 50px 0px;
	border-radius: 0px 0px 10px 10px;
	border: 10px solid var(--border);
}

.adminLoginBtn {
	background-color: var(--border);
	color: white;
	transition: 0.5s;
}

.adminLoginBtn:hover {
	color: var(--lightLime);
	box-shadow: 0px 0px 5px var(--lightLime);
}
